* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  overflow: hidden;
}

.container {
  font-family: 'Starjedi';
  font-style: normal;
  font-weight: 400;  color: #F9CE00;
  padding-left: 35%;
  padding-right: 35%;
  animation-name: animation-text;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: perspective(90px) rotateX(20deg);
}

.title {
  font-family: 'Starjedi';
  font-style: normal;
  font-weight: 400;  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
}

.subtitle {
  font-family: 'Starjedi';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
}

.description {
  font-family: 'Starjedi';
  font-style: normal;
  font-weight: 400;
  padding-bottom: 10px;
}

@keyframes animation-text {
  0% {
    padding-top: 40%;
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    padding-top: 0;
    opacity: 0.01;
  }
}